@charset "utf-8";

html, body {
  height: 100%;
  margin: 0;
  width: 100%;
}

.modal-background {
  background-color: #0008;
  height: 100%;
  position: relative;
  width: 100%;
}

.modal-content {
  background-color: #fff;
  border-radius: 8px;
  inset: 50% auto auto 50%;
  padding: 32px;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 500px;
}

.image {
  display: block;
  height: 100%;
  width: 100%;
}

/*
* Text
*/

p {
  margin: 0;
  font-size: 16px;
}

.question {
  font-size: 16px;
}

.answer {
  font-size: 16px;
  margin-top: 24px;
}

.description2 {
  font-size: 16px;
  margin-top: 4px;
}

/*
* Form
*/

.text {
  border: 1px solid gray;
  border-radius: 2px;
  display: block;
  height: 24px;
  margin-top: 16px;
  padding: 8px;
  width: calc(100% - (8px + 1px) * 2);
}

.text:focus {
  outline: 2px auto #0077d3;
}

.correct {
  background-color: #dfd;
  pointer-events: none;
}

.incorrect {
  background-color: #fdd;
  pointer-events: none;
}

.buttons {
  box-shadow: none;
  display: flex;
  flex-direction: row;
  margin-top: 24px;
  padding: 0;
  width: 100%;
}

.button {
  background-color: white;
  border-radius: 4px;
  border: 1px solid rgb(0, 119, 211);
  box-sizing: border-box;
  color: rgb(0, 119, 211);
  cursor: pointer;
  display: block;
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  padding: 10px 20px;
}

.button:hover {
  background-color: rgb(0, 119, 211);
  color: white;
}
